    body {
        font-family: Arial, sans-serif;
        background-color: #F8FAFC;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    #container {
        padding: 20px;
    }
    .head {
        margin-bottom: 40px;
    }
    .cards {
        display: flex;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: row;

    }
    .card {
        background: white;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        padding: 15px;
        width: 250px;
        text-align: center;
        height: 700px;
    }
    .card img {
        width: 200px;
        height: 300px;
        object-fit: cover; /* keeps aspect ratio while cropping if needed */
        border-radius: 5px;
    }

    .card p {
        margin: 8px 0;
    }

    .title{
        color:#1E293B ;
    }

    .author{
        color: #334155;
    }

    .note{
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        text-align: left;
        color: #475569;
    }

    .btn{
        color: #DC3545;
        border-radius: 5px;
        border: #DC3545 solid 1px;
        font-size: 15px;
        width: 32%;
        height: 40px;
    }

    .btn_btn{
        color: #0D6EFD;
        border-radius: 5px;
        border:  #0D6EFD solid 1px;
        font-size: 15px;
        width: 32%;
        height: 40px;
    }

    .btn:hover{
        background-color: #DC3545;
        color: white;
        cursor: pointer;
    }
    .btn_btn:hover{
        background-color:  #0D6EFD;
        color: white;
        cursor: pointer;
    }

    .book-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }

    .book-actions {
    display: flex;
    justify-content: center;
    gap: 15px; /* مسافة بين الزرين */
    margin-top: 10px;
    }

    .edit-btn{
    color: #007bff;
    border-radius: 5px;
    border: #007bff solid 1px;
    font-size: 15px;
    width: 90px;
    height: 40px;
    }

    .delete-btn{
    color: #d9534f;
    border-radius: 5px;
    border:  #d9534f solid 1px;
    font-size: 15px;
    width: 90px;
    height: 40px;
    }

    .delete-btn:hover{
    background-color: #d9534f;
    color: white;
    cursor: pointer;
    }
    .edit-btn:hover{
    background-color:  #0D6EFD;
    color: white;
    cursor: pointer;
    }