    body {
        font-family: Arial, sans-serif;
        background-color: #F8FAFC;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    #container {
        padding: 20px;
    }
    .head {
        margin-bottom: 40px;
    }
    .cards {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }
    .card {
        background: white;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        padding: 15px;
        width: 250px;
        text-align: center;
    }
    .card img {
        width: 200px;
        height: 300px;
        object-fit: cover; /* keeps aspect ratio while cropping if needed */
        border-radius: 5px;
    }

    .card p {
        margin: 8px 0;
    }

    .title{
        color:#1E293B ;
    }

    .author{
        color: #334155;
    }

    .note{
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        text-align: left;
        color: #475569;
    }

    .btn{
        color: #198754;
        border-radius: 5px;
        border: #198754 solid 1px;
        font-size: 15px;
        width: 32%;
        height: 40px;
    }

    .btn_btn{
        color: #0D6EFD;
        border-radius: 5px;
        border:  #0D6EFD solid 1px;
        font-size: 15px;
        width: 32%;
        height: 40px;
    }

    .btn:hover{
        background-color: #198754;
        color: white;
        cursor: pointer;
    }
    .btn_btn:hover{
        background-color:  #0D6EFD;
        color: white;
        cursor: pointer;
    }